<?xml version="1.0" encoding="UTF-8"?>
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

        <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
            <arguments>
                <argument name="collections" xsi:type="array">
                    <item name="infobase_faq_listing_data_source" xsi:type="string">InfoBase\FAQ\Model\ResourceModel\Faq\Grid\Collection</item>
                </argument>
            </arguments>
        </type>

        <virtualType name="InfoBase\FAQ\Model\ResourceModel\Faq\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
            <arguments>
                <argument name="mainTable" xsi:type="string">infobase_faq</argument>
                <argument name="resourceModel" xsi:type="string">InfoBase\FAQ\Model\ResourceModel\Faq</argument>
            </arguments>
        </virtualType>
</config>